@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


//Global Variables
$background : #1c1c1c;
$dark : #121212;
$text : #A3A3A3;
$title : #ffffff;
$main : #60D0FF;


//Mixins to ease up the styling
@mixin Padder($pt, $pb, $pr, $pl){
    padding:$pt $pr $pb $pl;
}

@mixin FontMaker($size, $weight, $color){
    font-size:$size;
    font-weight:$weight;
    color: $color;
}

@mixin Transition(){
    transition: 0.36s ease-in-out;
}

@mixin Neon(){
    -webkit-box-shadow: -1px 0px 24px 0px rgba(96,207,255,0.76);
    -moz-box-shadow: -1px 0px 24px 0px rgba(96,207,255,0.76);
    box-shadow: -1px 0px 24px 0px rgba(96,207,255,0.76);

}


//Styling Starts Here

html {
    scroll-behavior: smooth;
  }
  

body{
    font-family: "Quicksand", serif;
    background-color: $background;
    color:$text;
}

.header{
    @include Padder(30px,30px ,0px ,0px );

    .logo{
        width:100%;
    }

    nav{
        list-style-type: none; 
        padding: 0;           
        margin: 0;            
        display: flex;         
        gap: 46px; 
        align-items: center;
        justify-content: center;
        margin-top: 16px;

        li{
            display:inline;
        }

        a{
            text-decoration: none;
            @include FontMaker(1rem,400 ,$title );

            &:hover{
                color:$main;
                font-weight:700;
                @include Transition();
            }

        }
    }

    button{
        background-color: $main;
        @include Padder(10px,10px ,20px , 20px);
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:16px;
        flex-wrap:wrap;
        @include FontMaker(1rem, 700  ,$background );
        border-radius: 10px;
        margin-top: 10px;
        @include Neon();

        &:hover{
            background-color: $dark;
            color:$main;
            @include Transition();
        }
    }
}

.hero-wrapper{
    @include Padder(20px,20px ,0px ,0px );
    position:relative;
    .hero-art{
        img{
            width:100%;
        }
    }

    .hero-content{
        z-index:3;
        position:absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1{
            @include FontMaker(3.6rem,300 ,$title );

            span{
                font-weight:700;
                color:$main;
            }
        }

        @media screen and (max-width:1024px){
            position:relative;
        }
    }
}

.sub-hero{
    width:70%;
    text-align:center;
    z-index:3;
    margin-left:15%;
    margin-right:15%;
    margin-top:-5%;
    p{
        @include FontMaker(1.16rem,400 ,$text );
    }

    @media screen and (max-width:1024px){
        width:100%;
        margin-left:0px;
        margin-right:0px;
        margin-top:-10%;
    }

    .action{
        display:flex;
        gap:16px;
        align-items: center;
        flex-wrap: wrap;
        margin-top:43px;
        justify-content: center;
        margin-bottom:60px;

        .button-r{
            background-color: $main;
            @include Padder(10px,10px ,20px , 20px);
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:16px;
            flex-wrap:wrap;
            @include FontMaker(1rem, 700  ,$background );
            border-radius: 10px;
            margin-top: 10px;
            @include Neon();

            &:hover{
                background-color: $dark;
                color:$main;
                @include Transition();
            }
        }

        .button-l{
            background-color: none;
            border:3px solid $main;
            @include Padder(10px,10px ,20px , 20px);
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:16px;
            flex-wrap:wrap;
            @include FontMaker(1rem, 700  ,$main );
            border-radius: 10px;
            margin-top: 10px;

            &:hover{
                background-color: $main;
                color:$background;
                @include Transition();
            }
        }
    }
}


hr{
    border: none;
    border-top: 6px dashed #3C3C3C;
}


.mockarea{
    display:flex;
    justify-content: space-around;
}

.parcelblock{
    display:flex;
    align-items: center;
    gap:16px;
    flex-wrap:wrap;
    background-color: $dark;
    @include Padder(20px, 20px, 20px, 20px);
    border-radius:20px;
    margin-top:10px;

    .parcelicon{
        width:140px;
        height:auto;
    }

    .p-content{
        flex:1;
        h2{
            @include FontMaker(1.3rem,400 ,$main );
        }
        p{
            @include FontMaker(1rem,300 , $text );
        }

        button{
            img{
                margin-top:20px;

                &:hover{
                    scale:1.13;
                    @include Transition();
                }
            }
        }
    }
}


.areatitle{
    margin-top:30px;
    text-align: center;

    h1{
        @include FontMaker(3rem, 700 , $title );
        margin-top:40px;

        span{
            @include FontMaker(1.63rem,300 ,$text );
        }
    }

    p{
        @include FontMaker(1rem,300 ,$text );
        margin-top:20px;

        span{
            font-weight:700;
        }
    }
}

.dataset{
    width:60%;

    &:hover{
        scale:1.13;
        @include Transition();
    }
}

.cnn{
    display:flex;
    justify-content: space-around;
    margin-top:60px; 
    margin-bottom:30px;

}


.steps{
    background-color: $dark;
    @include Padder(30px,30px ,30px ,30px );
    border-radius:20px;
    margin-bottom:20px;

    h2{
        @include FontMaker(1.3rem,400 ,$title );
    }

    p{
        @include FontMaker(1rem, 300, $text);
        margin-top:10px;
    }

    .steps-footer{
        margin-top:30px;
        display:flex;
        flex-wrap:wrap;
        gap:16px;
        justify-content: space-between;
        align-items: center;

        img{
            &:hover{
                scale:1.13;
                @include Transition();
            }
        }

        span{
            @include FontMaker(1rem,700 ,$main );
        }
    }
}


.footer{
    background-color: $dark;
    @include Padder(46px,46px ,30px ,30px );
    text-align: center;
    border-radius: 20px;
    margin-bottom:30px;

    h1{
        @include FontMaker(3rem,300 , $title);
        span{
            font-weight:700;
        }
    }

    .action{
        display:flex;
        gap:16px;
        align-items: center;
        flex-wrap: wrap;
        margin-top:43px;
        justify-content: center;
        margin-bottom:60px;

        .button-r{
            background-color: $main;
            @include Padder(10px,10px ,20px , 20px);
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:16px;
            flex-wrap:wrap;
            @include FontMaker(1rem, 700  ,$background );
            border-radius: 10px;
            margin-top: 10px;
            @include Neon();

            &:hover{
                background-color: $dark;
                color:$main;
                @include Transition();
            }
        }

        .button-l{
            background-color: none;
            border:3px solid $main;
            @include Padder(10px,10px ,20px , 20px);
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:16px;
            flex-wrap:wrap;
            @include FontMaker(1rem, 700  ,$main );
            border-radius: 10px;
            margin-top: 10px;

            &:hover{
                background-color: $main;
                color:$background;
                @include Transition();
            }
        }
    }

    .footerlogo{
        margin-top:30px;
        display:flex;
        justify-content: space-around;
        margin-bottom:30px;
    }
}


.preview{
    background-color: $dark;
    @include Padder(20px,20px ,20px ,20px );
    border-radius: 20px;
    height:603px;
    overflow: hidden;

    @media screen and (max-width:1024px){
        height:430px;
    }

    @media screen and (max-width:560px){
        height:263px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:20px;
    }

    .placeholder{
        width:100%;
        height:auto;
        object-fit: contain;
    }

}


.console{
    background-color: $dark;
    @include Padder(30px, 30px, 20px, 20px);
    border-radius: 20px;

    h2{
        @include FontMaker(1.13rem,700 ,$title );
    }

    button{
        background-color: $main;
        @include Padder(10px,10px ,20px , 20px);
        display:flex;
        justify-content: space-around;
        align-items: center;
        gap:16px;
        flex-wrap:wrap;
        @include FontMaker(1rem, 700  ,$background );
        border-radius: 10px;
        margin-top: 10px;
        @include Neon();
        width:100%;
        margin-top:30px;

        &:hover{
            background-color: $dark;
            color:$main;
            @include Transition();
        }
    }

    .file-input {
        display: none; /* Hide the original file input */
    }
    
    .file-upload {
        display: inline-block;
        padding: 10px 20px;
        background-color: none; 
        @include FontMaker(1rem,700 , $main);
        border:3px solid $main;
        border-radius: 10px;
        cursor: pointer;
        width:100%;
        margin-top:20px;
        margin-bottom:20px;
    
        &:hover {
           border:3px solid $text;
           color:$text;
           @include Transition();
        }
    
        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(72, 129, 255, 0.5);
        }
    }
}

.results{
    background-color: $dark;
    border-radius:20px;
    @include Padder(30px, 30px , 20px , 20px );
    margin-top:30px;
    
    h4{
        @include FontMaker(1.13rem, 700, $title);
    }

    .res-block{
        background-color: $background;
        @include Padder(20px,20px ,20px ,20px );
        border-radius: 10px;
        margin-top:16px;

        p{
            @include FontMaker(1rem,300 ,$title );

            span{
                @include FontMaker(1.36rem,700 ,$main );
            }
        }
    }
}


.stat-block{
    background-color: $background;
    @include Padder(10px,10px ,20px ,20px );
    border-radius: 10px;
    margin-top:16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    gap:16px;

    h4{
        @include FontMaker(1rem, 300, $text);
    }

    h3{
        @include FontMaker(1.63rem,700 , $title )
    }
}